<div class="bg-dark">
    <h1 class="display-1 text-center text-light mb-0">Truth or Truth?</h1>
  </div>
  
  <div class="jumbotron mb-0">
    <div class="col-12 mt-5 btn-group" role="group">
      <div class="col-9 offset-1 bg-light p-3 rounded">
        <h2 class="text-muted ml-2">Random Question...</h2>
      </div>
      <button class="col-1 text-center bg-dark text-light btn-lg btn btn-secondary"><h1>?</h1></button>
    </div>
  </div>
  
  <div class="container-fluid p-3">
    <div class="col-md-8 mx-auto">
      <div class="row p-2 rounded-top">
        <div class="col-md-4 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button routerLink="/category" class="col-1 text-center bg-dark text-light  btn rounded-right"><h1>Go</h1></button>
        <div class="col-md-4 offset-2 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light btn btn-secondary"><h1>?</h1></button>
      </div>
      <div class="row p-2">
        <div class="col-md-4 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light  btn btn-secondary"><h1>?</h1></button>
        <div class="col-md-4 offset-2 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light btn btn-secondary"><h1>?</h1></button>
      </div>
      <div class="row p-2">
        <div class="col-md-4 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light  btn btn-secondary"><h1>?</h1></button>
        <div class="col-md-4 offset-2 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light btn btn-secondary"><h1>?</h1></button>
      </div>
      <div class="row p-2">
        <div class="col-md-4 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light  btn btn-secondary"><h1>?</h1></button>
        <div class="col-md-4 offset-2 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light btn btn-secondary"><h1>?</h1></button>
      </div>
      <div class="row p-2">
        <div class="col-md-4 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light  btn btn-secondary"><h1>?</h1></button>
        <div class="col-md-4 offset-2 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light btn btn-secondary"><h1>?</h1></button>
      </div>
      <div class="row p-2">
        <div class="col-md-4 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light  btn btn-secondary"><h1>?</h1></button>
        <div class="col-md-4 offset-2 p-4 bg-light rounded">
          <h2 class="text-muted ml-2">Category 1</h2>
        </div>
        <button class="col-1 text-center bg-dark text-light btn btn-secondary"><h1>?</h1></button>
      </div>
    </div>
    
    
  </div>
  